@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'kemco';
	src: url(./kemco.ttf);
}
html {
	scroll-behavior: smooth;
}



:root {
	line-height: 1.5;
	font-weight: 400;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	font-variation-settings: 'slnt' 0;
}

.main {
	scroll-behavior: smooth;
}

body {
	background-color: white;
	scroll-behavior: smooth !important;

}

.container {
	background-color: white;
}

.hero {
	background-image: url("/pixel-background.png");
	height: 100%;
	background-position: center;
	background-repeat:repeat-x;
	background-size: contain;
	position: relative;
}

.hero h1, #about h2, #mint h2, .hed {
	font-family: 'kemco', sans-serif;
}

#about h2, #mint h2 {
	color: rgb(79, 79, 79);
}

.hed, p {
	color: #808080;
}

button, .hero a {
	background: #ffc20e !important;
	color: #ed1c24 !important;
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
	border-radius: 0 !important;
	font-family: 'kemco', sans-serif !important;
	scroll-behavior: smooth !important;
}

button:hover, .hero a:hover {
	background: #ffc20e;
	box-shadow: 1px 1px 0px #c49512;
	transform: translate(1px, 1px);
	}



@media screen and (max-width: 1122px) {
	.hero {
		background-size: cover;
	}
}

@layer base {
	body {
		@apply bg-zinc-950 text-neutral-200;
		background-color: white !important;
	}
}

